body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#horari {
    display: flex;
    flex-direction: column;
    width: 1500px;
    font-size: 0.9rem;
    text-align: center;
}

.header hr {
    width: 100%;
    text-align: center;
}

.cell {
    border: 1px solid black;
}

.dwec {
    background-color: #b3e5fc;
}

.eie {
    background-color: #f0f4c2;
}

.dwes {
    background-color: #e1bee7;
}
