body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
}

.cell {
    border: 1px solid rgb(158, 158, 158);
    margin: 0;
    text-align: center;
    padding: 5px 1.7rem;
    font-size: 1.1rem;
}

.hour,
.day {
    font-weight: bold;
    height: 40px;
}

.dwec {
    background-color: #b3e5fc;
}

.eie {
    background-color: #f0f4c2;
}

.dwes {
    background-color: #e1bee7;
}

.diw {
    background-color: #ffcc80;
}

.daw {
    background-color: #6affad;
}
